<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>后台管理</title>
    <link type="text/css" rel="stylesheet" href="/public/css/admin.css">
    <script src="/public/js/jquery-1.12.3.min.js"></script>
    <script src="/public/js/admin.js"></script>

</head>
<body>

<header>
        <span class="right">
            <a>{{userinfo.username}}</a>
            <a>退出</a>
        </span>
    <h3>后台管理</h3>
    <nav>
        <a href="/admin/user">用户管理</a>
        <a href="/admin/class">分类管理</a>
        <a href="/admin/content">内容管理</a>
    </nav>

</header>

<section class="main">

    {% block main %}{% endblock%}
</section>

<div class="heimu"></div>
</body>
</html>