*{   margin: 0;    padding: 0; font-size: 14px; box-sizing: border-box}
a{ color: #007fff;  text-decoration:none}
.f18{font-size: 18px}
body{font-size: 12px; background-color: #f0f0f0; padding-top: 80px}
li{list-style: none}
.color999{color: #999}
.mt20{margin-top: 20px}
.mb20{margin-bottom: 20px}
.heimu{ background-color: rgba(0,0,0,.3);
    position:fixed; width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}
textarea,select{border:1px #ddd solid}
textarea{
    padding: 10px;}
.orange{color: #f60}
.t_right{text-align: right}
.logo{
    position: absolute; left: 20px;
    top: 14px;
    font-size: 22px; color: #fff}
header{height: 60px;  width: 100%; background-color: #007fff;
    position:fixed; top:0;left: 0; text-align: center;
    z-index: 1;}
nav{ line-height: 60px; }
nav a{padding: 10px; color:#fff; font-size: 18px; text-decoration: none}

.main{background-color: #eee;
    position: relative;}
.index_left{ padding: 20px    }
.index_left article{ background-color: #fff;
    padding: 20px; margin-bottom: 20px}


.index_right{display: none; width: 300px;
    position:fixed;
    left: 50%;
    top: 50%;
    margin-top: -125px;
    margin-left: -150px;
    z-index: 1;}

.index_right section{background-color: #fff;
    padding: 20px; margin-bottom: 20px}
.btn{ width: 100%;
    height: 40px;
    line-height: 40px;
color: #fff;
text-align: center;
background-color: #007fff; border: none; margin: 10px auto; cursor: pointer}
.btn:hover{background-color: #72c9cc}

.active{ border-bottom: 1px #fff solid; font-weight: bold}
input{
    line-height: 35px;
    line-height: 35px;
text-indent: 10px;
width: 100%; border:1px  #eee solid}

.index_right input{margin: 10px 0}
.error{color: #f60;text-align: center}

.comment_textarea{
    padding: 10px; width: 100%; box-sizing: border-box;
    border: 1px #ddd solid;
    height: 100px;
    }
.center{text-align: center}
.commentList{border-top: 1px #ddd dashed; margin-top: 10px}
.views_tt{font-size: 18px;}
.views_info{line-height: 40px; color: #999}
.commentList li{ border-bottom: 1px #ddd dashed;
    padding:10px 0;}
.author{ color: #999; margin-bottom: 10px}
.views_main{ padding: 20px; margin: 0 auto; background: #fff}
.addBox{  background: #fff;
    padding: 20px ;}
.main{width: 100%; margin: 0 auto; }
table td{padding: 10px 0}
.commentDiv{ margin-top: 20px; }
.content_list h1{margin-bottom: 10px; line-height: 25px; font-size: 16px}
.pc_hide{
    display: none;}
.now_class{vertical-align: middle}
.index_right h1{ margin-bottom: 10px; font-size: 18px}
.discription{ padding: 10px 0;
    line-height: 25px;}
.login_register{
    float: right;
    line-height: 60px; color: #fff; margin-right: 10px}
.edit_logout{
    float: right;
    line-height: 60px; color: #fff; margin-right: 10px}
.tool span{
    padding: 3px 15px;border: 1px #ddd solid;    border-radius: 2px; font-size: 12px;
}
.tool span:last-child{margin-left: -1px}
.edit_logout a{color: #fff}
@media screen and (max-width:768px) {
    .index_right{display: none; width: 90%;
        position:fixed;
        left: 5%;
        top: 50%;
        margin-top: -125px;
        margin-left:0;
        z-index: 1;}

    .pc_hide{
        display: block;}

    .index_left{ padding: 0}
    .views_main{width: 100%;}
    br{display: none}
    .m_table tr td:first-child{display: none}
    .m_table select{width: 100%}
    .menu_icon{
       float: left; margin-left: 100px; font-size: 28px!important; color: #fff; line-height: 54px}
    header nav{position: absolute;
        top: 60px; background: #fff;
        z-index: 1; width: 100%; border-top:1px #ddd solid; display: none}
    header nav a{width: 100%;
        display: block;
        color: #333;
        font-size: 14px;
        text-align: center;
        line-height: 30px; border-bottom: 1px #ddd solid !important;
    }

.tool_bottom{
    position: fixed;
    height: 48px;
    width: 100%;
    left: 0;
    bottom: 0;
    line-height: 48px;
    background: #fff;
}
.tool_bottom span{
    float: left;
    width: 33.33%;
    text-align: center; position: relative;
    }
    .tool_bottom span .sutiao{
        position: absolute;
        top: 13px;
        right: 0;
        width: 1px;
        height: 22px;
        background-color: #ddd;
    }
}
