* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}
a {
  color: #007fff;
  text-decoration: none;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f26 {
  font-size: 26px;
}
.f36 {
  font-size: 36px;
}

body {
  font-size: 12px;
  background-color: #f0f0f0;
  padding: 80px 0 60px;
}
li {
  list-style: none;
}
.color999 {
  color: #999;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.heimu {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}
textarea,
select {
  border: 1px #ddd solid;
}
textarea {
  padding: 10px;
  background-color: #f9f9f9;
}
.orange {
  color: #f60;
}
.t_right {
  text-align: right;
}
.logo {
  float: left;
  margin-left: 10px;
  line-height: 60px;
  font-size: 22px;
  color: #fff;
}
header {
  height: 60px;
  width: 100%;
  background-color: #007fff;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1;
}
nav {
  line-height: 60px;
}
nav a {
  padding: 10px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.main {
  background-color: #eee;
  position: relative;
}
.index_left {
  padding: 20px;
}
.index_left article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.index_right {
  display: none;
  width: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -125px;
  margin-left: -150px;
  z-index: 1;
}

.index_right section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.btn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background-color: #007fff;
  border: none;
  margin: 10px auto;
  cursor: pointer;
}
.btn:hover {
  background-color: #72c9cc;
}

header .active {
  border-bottom: 1px #fff solid;
  font-weight: bold;
}
input {
  line-height: 35px;
  line-height: 35px;
  text-indent: 10px;
  width: 100%;
  border: 1px #eee solid;
}

.index_right input {
  margin: 10px 0;
}
.error {
  color: #f60;
  text-align: center;
}

.comment_textarea {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px #ddd solid;
  height: 100px;
}
.center {
  text-align: center;
}
.commentList,
.lingshiBox {
  border-top: 1px #ddd dashed;
  margin-top: 10px;
}
.views_tt {
  font-size: 18px;
}
.views_info {
  line-height: 40px;
  color: #999;
}
.commentList li,
.lingshiBox li {
  border-bottom: 1px #ddd dashed;
  padding: 10px 0;
}
.author {
  color: #999;
  margin-bottom: 10px;
}
.views_main {
  padding: 20px;
  margin: 0 auto;
  background: #fff;
}
.addBox {
  background: #fff;
  padding: 20px;
}
.main {
  width: 100%;
  margin: 0 auto;
}
table td {
  padding: 10px 0;
}
.commentDiv {
  margin-top: 20px;
}
.content_list h1 {
  margin-bottom: 10px;
  line-height: 25px;
  font-size: 16px;
}
.pc_hide {
  display: none;
}
.now_class {
  vertical-align: middle;
}
.index_right h1 {
  margin-bottom: 10px;
  font-size: 18px;
}
.discription {
  padding: 10px 0;
  line-height: 25px;
}
.login_register {
  float: right;
  line-height: 60px;
  color: #fff;
  margin-right: 10px;
}
.edit_logout {
  float: right;
  position: relative;
  line-height: 60px;
  color: #fff;
  margin-right: 10px;
}
.tool span {
  padding: 3px 15px;
  border: 1px #ddd solid;
  border-radius: 2px;
  font-size: 12px;
}
.tool span:last-child {
  margin-left: -1px;
}
.edit_logout a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #777;
  text-align: left;
  padding-left: 20px;
}

.user_menu {
  display: none;
  background: #fff;
  position: absolute;
  top: 60px;
  width: 150px;
  right: 0px;
  z-index: 1;
  color: #000;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
}
.edit_logout img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 14px;
}
@media screen and (max-width: 768px) {
  .index_right {
    display: none;
    width: 90%;
    position: fixed;
    left: 5%;
    top: 50%;
    margin-top: -125px;
    margin-left: 0;
    z-index: 1;
  }

  .pc_hide {
    display: block;
  }

  .index_left {
    padding: 0;
  }
  .views_main {
    width: 100%;
  }
  br {
    display: none;
  }
  .m_table tr td:first-child {
    display: none;
  }
  .m_table select {
    width: 100%;
  }
  .menu_icon {
    float: left;
    margin-left: 20px;
    font-size: 28px !important;
    color: #fff;
    line-height: 54px;
  }
  header nav {
    position: absolute;
    top: 60px;
    background: #fff;
    z-index: 1;
    display: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px #ddd solid;
    width: 100px;
    left: 40px;
  }
  header nav a {
    width: 100%;
    display: block;
    color: #777;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px #ddd solid !important;
  }

  .tool_bottom {
    position: fixed;
    height: 48px;
    width: 100%;
    left: 0;
    bottom: 0;
    line-height: 48px;
    background: #fff;
    border-top: 1px #ddd solid;
  }
  .tool_bottom span {
    float: left;
    width: 33.33%;
    text-align: center;
    position: relative;
  }
  .tool_bottom span .sutiao {
    position: absolute;
    top: 13px;
    right: 0;
    width: 1px;
    height: 22px;
    background-color: #ddd;
  }
}

.ucenter_top {
  text-align: center;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.ucenter_top img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.ucenter_top .editBtn {
  border: 1px #007fff solid;
  border-radius: 3px;
  padding: 5px 10px;
}
.ucenter_top .discription {
  line-height: 30px;
  color: #666;
}
.ucenter_bottom {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin-top: 10px;
}
.ucenter_bottom .head {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px #ddd solid;
}
.ucenter_bottom .head li {
  width: 50%;
  float: left;
  text-align: center;
  position: relative;
}
.ucenter_bottom .head li .sutiao {
  height: 20px;
  width: 1px;
  position: absolute;
  right: 0;
  top: 14px;
  background: #ddd;
}
.ucenter_bottom .head li.active {
  box-shadow: inset 0 -2px 0 #3780f7;
  color: #007fff;
}
.ucenter_bottom .content .tt {
  font-size: 16px;
  color: #007fff;
  line-height: 30px;
}
.ucenter_bottom .content .discription {
  color: #666;
  line-height: 25px;
}
.ucenter_bottom .content li {
  border-bottom: 1px #eee solid;
  padding: 20px;
  overflow: hidden;
}
.ucenter_bottom .content li:last-child {
  border-bottom: none;
}
.content_list .discription {
  color: #777;
}

.ucenter_bottom .content .comments {
  color: #777;
  margin-bottom: 10px;
}
