{% extends 'layout.html' %}

{% block content %}
<section class="index_left">


    {% for content in contents %}
    <article class="content_list">
        <a href="/views?contentid={{content._id.toString()}}"><h1>{{content.title}}</h1></a>
        <span class="color999">{{content.user.username}} · {{content.addTime|date('Y-m-d H:i:s',8*-60)}}</span>
        <p class="discription">{% autoescape %}{{content.description}}{% endautoescape %}</p>

        <div class="color999 tool"><span><i class="iconfont icon-heart"> </i>{{content.views}}</span><span><i class="iconfont icon-message"></i> {{content.comments.length}}</span></div>
    </article>
    {% endfor %}


    {% if pages>1 %}
    <article style=" text-align: center; margin-bottom: 0">
        {% if page!=1 %}
        <a href="/?class={{classType}}&page={{page-1}}" >上一页</a>
        {% endif %}
        <span>{{page}} / {{pages}}</span>
        {% if page<pages %}
        <a href="/?class={{classType}}&page={{page+1}}" >下一页</a>
        {% endif %}
    </article>
    {% endif %}
</section>

{% endblock %}
