<!DOCTYPE html>


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>彭磊的简历</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/css/about.css" type="text/css" />
        <link rel="shortcut icon" href="/public/images/favicon.ico"/>
    </head>
    <body>
        <div class="content" id="top">
            <header class="content-hd">
             <section class="title">
                 <div class="headImg"><img src="/public/images/headimg.jpg" width="100%"></div>
              <div class="name">
               <h1>彭磊<small><span>1991.04 · <em class="yearNum">7</em>年前端开发经验</span><span class="dian"> · </span><span>深圳大学 &middot; 本科 · 工商管理</span></small></h1>
              </div>
              
             </section>
          
             <section class="contact">
                <div class="job">
                  <h2>通过以下方式联系我</h2>
                </div>
              <ul>
               <li><a href="/" target="_blank"><i class="iconfont">&#xe610;</i></a></li>
               <li><a href="tel:15361623882" target="_blank"><span class="contact-link">15361623882<span class="sanjiaoxing"></span></span><i class="iconfont ">&#xe606;</i></a></li>
               <li><a href="javascript:" target="_blank"><span class="contact-link" ><img src="/public/images/wx.jpg" width="100%" /><span class="sanjiaoxing"></span></span><i class="iconfont ">&#xe64f;</i></a></li>
               <li><a href="mailto:277201157@qq.com" target="_blank"><span class="contact-link">277201157@qq.com<span class="sanjiaoxing"></span></span><i class="iconfont">&#xe619;</i></a></li>
               <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=277201157&amp;site=qq&amp;menu=yes" target="_blank"><span class="contact-link">277201157<span class="sanjiaoxing"></span></span><i class="iconfont ">&#xe646;</i></a></li>
               <li><a href="https://github.com/cppypl" target="_blank"><i class="iconfont">&#xe8a1;</i></a></li>
               <li><a href="https://penglei.zcool.com.cn" target="_blank"><i class="iconfont">&#xe66f;</i></a></li>
               
               
               
              </ul>
             </section>
            </header>
            <div class="content-bd">
                    <section class="profile">
                                    <h2>因为设计，所以细节</h2>
                                    <p>我设计过各种各样的东西，从平面设计再到用户界面和网页设计，甚至偶尔来个LOGO。</p>
                                    <p>我更享受从无到有、渐渐完美的设计开发过程。所以我爱所见即所得的前端开发，我爱简洁美，轻描淡写的勾勒才能展示它原本的魅力。</p>
                                    <p>作为设计，深知像素眼的苛刻，作为前端，才懂细节的重要！</p>

                                    
                                    <div class="row uniform">
                                        <figure class="6u">
                                            <img src="/public/images/img1.jpg"  width="100%"  alt="我的简历" style="display: inline;">
                                        </figure>
                                        <figure class="6u">
                                            <img src="/public/images/img3.jpg"  width="100%" alt="我的简历" style="display: inline;">
                                        </figure>
                                    </div>
                    </section>
             
                    <section class="prize">
                            <header class="section__header"><h2 class="section__header__title">精通前端，涉猎产品</h2><h3 class="section__header__subtitle">一个懂产品的工程师</h3></header>

                            <div class="section-bd">
                             
                                                 
                                 <div class="section__body">
                                         <ul class="tech-skill-list">
                                         <li class="tech-skill-list__item tech-skill-list__item-html-and-css tech-skill-list__item--mastered">
                                                 <h4 class="tech-skill-list__item__name not-for-print">HTML &amp; CSS</h4>
                                                 
                                             </li>
                                             <li class="tech-skill-list__item tech-skill-list__item-javascript tech-skill-list__item--mastered"  style="width:80%">
                                                <h4 class="tech-skill-list__item__name not-for-print">JavaScript</h4>
                                            </li>
                                         <li class="tech-skill-list__item tech-skill-list__item-nodejs tech-skill-list__item--practised" style="width:90%">
                                                 <h4 class="tech-skill-list__item__name not-for-print">jQuery</h4>
                                                 
                                             </li>
                                         <li class="tech-skill-list__item tech-skill-list__item-nodejs tech-skill-list__item--practised" style="width:80%">
                                             <h4 class="tech-skill-list__item__name not-for-print">Vue.js</h4>
                                             
                                         </li>
                                         <li class="tech-skill-list__item tech-skill-list__item-sql tech-skill-list__item--practised" style="width:60%">
                                                 <h4 class="tech-skill-list__item__name not-for-print">Node.js</h4>
                                                 
                                             </li>
                                             <li class="tech-skill-list__item tech-skill-list__item-photoshop"   style="width:70%">
                                                <h4 class="tech-skill-list__item__name not-for-print">SEO</h4>
                                            </li>
                                         
                                             <li class="tech-skill-list__item tech-skill-list__item-photoshop" style="width:80%">
                                                     <h4 class="tech-skill-list__item__name not-for-print">Photoshop</h4>
                                                     
                                                 </li>
                                                 <li class="tech-skill-list__item tech-skill-list__item-photoshop" style="width:60%">
                                                         <h4 class="tech-skill-list__item__name not-for-print">墨刀、axure</h4>
                                                         
                                                     </li>
                                         </ul>
                                     </div>
                  
                            </div>
                           </section>
              <section class="practice">
                    <header class="section__header"><h2 class="section__header__title"><em class="yearNum">7</em>年前端开发经验</h2><h3 class="section__header__subtitle">曾在知名互联网企业任职</h3></header>
               <div class="section-bd">
                <div class="item">
                 <header class="item-hd">
                 
                  
                  <h3 class="item-name">恒领投资</h3>
                  <a class="btn item-more" href="http://www.miniwangdai.com" target="_blank">技术经理 · 联合创始人</a>
                  <span class="item-time">2013.11 ~ 2018.10</span> 
                  <img src="/public/images/minidai.png" class="itemImg" width="150">
                 </header>
                 <div class="item-bd">
                  <!-- <p class="section-content"><strong>技术经理</strong> -->
                    2013年底我以技术身份和朋友创业，主要负责前端开发，由于初创公司人手不足，我还兼职设计、SEO、产品经理等和互联网相关的事，员工多了以后，我转变为技术经理的角色，管理20多名员工的技术部。
                    我有<em class="yearNum">7</em>年以上前端经验，有带领团队经验，积极向上，有良好的人际沟通能力，良好的工作协调能力，不断自学新技术。
                   <!--...--></p>
                   
                 </div>
                </div>
                <div class="item">
                 <header class="item-hd">
                 
                  <a class="btn item-more" href="http://www.citen.com.cn/" target="_blank">高级前端工程师</a>
                  <h3 class="item-name">兴天通讯</h3>
                  <span class="item-time">2012.02 ~ 2013.10</span> 
                  <img src="/public/images/xingtian.jpg" class="itemImg" width="150">
                 </header>
                 <div class="item-bd">
                  <!-- <p class="section-content"><strong>中兴-技术部</strong> -->
                    兴天是中兴通讯旗下子公司,我负责招商蛇口智慧园区的官网\app功能需求的不断迭代，除了最拿手的web前端开发以外，偶尔也兼职UI设计师，一些不太复杂的页面一般我可以自己设计。因想抓住机会创业而离职，目前还和几个同事偶尔聚聚。</p>
                    
                 </div>
                </div>
                <div class="item">
                 <header class="item-hd">
                  
                  <a class="btn item-more" href="http://qunar.com" target="_blank">WEB前端工程师</a>
                  <h3 class="item-name">成都黑闪网络</h3>
                  <span class="item-time">2011.02 ~ 2012.02</span> 
                  <img src="/public/images/hs.jpg" class="itemImg" width="150">
                 </header>
                 <div class="item-bd">
                  <p class="section-content">
                      <!-- <strong>平台事业群-基础公共部</strong> -->
                  
                   这是我还没毕业就去的第一家公司，在这里我体验到了WEB前端的魅力，也为之后去深圳发展打下了基础。负责为公司客户开发网站，也了解了公司业务开发的基本流程。第二年过年我便前往深圳迎接新的挑战！</p>
                   
                 </div>
                </div>
                
               </div>
              </section>
             
              
              
              
             
              <section class="project">
                <header class="section__header"><h2 class="section__header__title">丰富的项目经验</h2><h3 class="section__header__subtitle">业余项目与公司项目相得益彰</h3></header>
               <div class="section-bd">
                <div class="item">
                 <header class="item-hd">
                  <a class="btn item-more" href="https://www.miniwangdai.com" target="_blank">Link</a>
                  <h3 class="item-name">迷你金服 · 互联网金融理财平台</h3>
                  <span class="item-time">2017.3</span> 
                 </header>
                 <div class="item-bd">
                  <p class="section-content">
                        该大型互联网金融平台项目采用<em>PHP+MySql</em>来搭建后台服务器，使用 <em>CodeIgniter</em>框架。</br>
                        项目大量使用<em>AJAX</em>调用API接口渲染页面，使用<em>jQuery</em>写出很多较为复杂的交互，较多数据和报表页面使用<em>Echarts</em> 或<em>HighCharts</em>。</br>
                        在<em>SEO</em>方面，前端还需要负责HTML语义化、meta、关键字优化、站群、sitemap等。</br>
                        项目手机版采用<em>Angular1.x</em>实现单页面应用、HTTP获取数据并渲染， 使用<em>Swiper</em>实现首页banner的轮播切换，<em>iscoll</em>结合ajax实现上拉加载，下拉刷新，<em>fastClick</em>解决iOS点击延迟300ms等问题。 </br>
                        
                        AJAX调用API接口渲染页面，不乏很多复杂交互。负责SEO，主要是HTML语义化、meta、关键字优化、站群、sitemap等。作为技术部经理，还需要负责进度管理，难点分析，工作分配，团队建设。<em>HTML\CSS\Javascript</em>这3个根基，我会努力打的非常扎实。
                </p>
                <img src="/public/images/minidai.jpg" class="itemImg">
                 </div>
                </div>
                <div class="item">
                 <header class="item-hd">
                  
                  <a class="btn item-more" href="http://penglei.vip" target="_blank">Link</a>
                  <h3 class="item-name">我的个人网站</h3>
                  <span class="item-time">2018.6</span> 
                 </header>
                 <div class="item-bd">
                  <p class="section-content">
                        我的个人网站（本站）采用<em>Node.Js(express)</em>+<em>MongoDB</em>来搭建后台服务器；</br>
                        前端框架暂时没有使用vue框架，后期可能会改为vue-router搭建项目路由，vuex来实现单文件组件和数据的抽离；</br>
                        目前是<em>jQuery</em>来进行<em>AJAX</em>请求后台数据并渲染到页面，DOM操作其实并不多，等有时间了换成<em>VUE</em>会节约很多网络资源，虽然访问人数还远远达不到门槛...</BR>
                        
                        工作中大部分是PHP、JAVA作为后端语言，作为前端开发，必须也要略懂后端才能更好的学好前端。到目前为止，也在自学探讨NodeJS(采用了express框架)，mongoDB等。从一开始只打算做个博客的，结果弄成了个论坛。已实现发帖、评论、个人中心等基本功能，又配置了百度富文本框、接下来要实现上传头像等功能。我不怕BUG成堆，因为在解决BUG的途中，也是深度学习的好机会！
                    </p>
                    <img src="/public/images/geren.jpg" class="itemImg">
                 </div>
                </div>
                <div class="item">
                    <header class="item-hd">
                     
                     <a class="btn item-more" href="http://222q08l011.iok.la:29905/" target="_blank">Link</a>
                     <h3 class="item-name">酷狗音乐vue版</h3>
                     <span class="item-time">2018.10</span> 
                    </header>
                    <div class="item-bd">
                     <p class="section-content">
                         本项目是我用<em>vue-cli</em>+<em>webpack</em>搭建完全复刻的一个项目，并没有商用，基本上实现了原版90%的功能。</BR>
                         主要是为了练习<em>VUE</em>的各种方法，比如<em>axios</em>调用酷狗官方接口（跨域问题使用webpack配置的proxy代理）、<em>vuex</em>状态管理工具，解决各组件之间的通信传值问题、<em>vue-router</em>实现了各个组件之间的无刷新跳转页面（也可以称为SPA）。
                         
   
                   </p>
                   <img src="/public/images/kugou.jpg" class="itemImg">
                    </div>
                   </div>

                   <div class="item">
                    <header class="item-hd">
                     
                     <a class="btn item-more" href="http://lc.bylongma.com/2sc" target="_blank">Link</a>
                     <h3 class="item-name">白龙马 · 汽车电商平台</h3>
                     <span class="item-time">2015.7</span> 
                    </header>
                    <div class="item-bd">
                     <p class="section-content">
                         本项目是集团旗下汽车电商平台，项目采用<em>PHP+MySql</em>来搭建后台服务器，使用 <em>CodeIgniter</em>框架。</br>
                         项目大量使用<em>AJAX</em>调用API接口渲染页面，使用<em>jQuery</em>写出很多较为复杂的交互，后台较多数据和报表页面使用<em>Echarts</em> 或<em>HighCharts</em>。</br>
                         在<em>SEO</em>方面，前端还需要负责HTML语义化、meta、关键字优化、站群、sitemap等。</br>
                         使用<em>Swiper</em>实现首页banner的轮播切换。 </br>
                         
                         AJAX调用API接口渲染页面，不乏很多复杂交互。负责SEO，主要是HTML语义化、meta、关键字优化、站群、sitemap等。
                         
   
                   </p>
                   <img src="/public/images/bailongma.jpg" class="itemImg">
                    </div>
                   </div>
                
               </div>
              </section>
       
              
              <a class="returnTop"  href="#top">
                    <i class="iconfont " style="font-size:44px">&#xe608;</i>
                    <p style="color:#777">回到顶部查看联系方式</p>
              </a>
        
             </div>
            
           </div>
           
           <script>
                var year=(new Date).getFullYear() - 2012;
                var items=document.querySelectorAll('.yearNum');
                
                items.forEach((item)=>{
                    item.innerHTML=year
                })
        
            </script>
    </body>
</html>